@charset "utf-8";

html {
    background-color: #4488bb;
}

body {
    color: #000;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: #0673e3;
}

#container {
    position: relative;
    min-height: 100vh;
}

#content {
    /* Footer height */
    padding-bottom: 2.5rem;
}

#content header {
    text-align: center;
}

#content header h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

#content main {
    display: block;
}

#content main,
#content header nav,
#content header nav ul {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#content header nav ul {
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#describe {
    margin-top: 2vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    /* Footer height */
    height: 2.5rem;
}

@media screen and (max-width: 800px) {

    #content header h1 {
        font-size: 2rem;
    }

    #content main,
    #content header nav,
    #content header nav ul {
        width: 60vw;
    }
}

@media screen and (max-width: 415px) {
    #content header {
        text-align: left;
    }

    #content main,
    #content header nav,
    #content header nav ul {
        width: 100vw;
    }
}